*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}body{
    background-color:white;

    text-align:center;
    margin: 20px 10px;

}
.image{
    margin: 19px 100px;

}
.para{
    margin: 19px 100px;
    
}
.para h3{
    margin: 19px 0;
}
.image3{
    margin: 19px 10px;
border-image: 1px;
border-image-width: 5px;
}
.para1{
    margin: 10px;
}
.image5{
    margin: 10px;
}
.button{
    margin:10px 10px;
    
}